# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
.env.*
!.env.example
!*/.env.example
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Node
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store

# Terraform
.terraform/
.terraform.tfstate*

# Editors
.idea/
.vscode/
*.swp
